body {
	font-family: monospace;
	font-size: 16pt;

}

h1 {
	font-size:36pt;
	font-weight:bold;
}

section h1 {
	font-size: inherit;
}

fieldset {
	padding: 12px;
	border-left: 50px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}

b {
	color: #2c2;
	font-weight:bold;
}

section {
	display:block;
	margin: 12px;
	min-width: 800px;
}

ul.comments {
	margin: 1em 0;
	padding: 0;
}

ul.comments li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.comments li:before {
	content: '// ';
}

ol {
	background: #ddd;
	margin: 0px;
	padding-left: 12px;
	border: 1px solid #ddd;
}

ol li {
	margin-left: 40px;
	padding: 6px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

#email {
	font-family: monospace;
	width: 300px;
	font-size: 16pt;
}

#submit {
	font-family: monospace;
	font-size: 14pt;
}

#no-spam {
	font-size: 12pt;
}


#response {color:#f30; font-style:italic; font-size:12pt; padding:.4em;}

